#login {
  background-color: aquamarine;
  font-weight: 700;
  color: brown;
  border-bottom: 1px solid red;
}

#logout {
  background-color: aquamarine;
  font-weight: 700;
  color: brown;
  border-bottom: 1px solid red;
}